 /* #inputimage {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#canvas {
    position: relative;
    top: 15px;
    left: -10px;
    z-index:20;
} */

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #ff0000 inset;
  /* box-shadow: 0 0 0 3px #149df2 inset; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}